.w3-button {
    background-color:gray;
    width: 10.75rem;
    box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
    font-size: .875rem;
    height: 2.25rem;
    font-weight: 400;
    margin-left: 2.5rem;
    margin-top: .5rem;
    /*line-height: 1.9375rem;*/
    cursor: pointer;
    border-radius: .25rem;
    transition: all .3s ease;

}
#contact{
  padding-left: 20%;
}
.portfolio-item {
  font-size: 150%;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.dark{
  color: black;
}
h1{
  color: black;
}
.portfolio-item {
  font-size: 150%;
}
.jumbotron .img {
    margin-bottom: 0px;
    opacity: 0.2;
    color: #FBF5EF;
    background: #000 url("https://images.pexels.com/photos/916335/pexels-photo-916335.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    text-align: center;
  
  
  position:absolute;
  top:0;left:0;
 /* z-index:1;*/
}
.jumbotron {position:relative;padding:50px;}
.jumbotron .container {z-index:2;
 position:relative;
  z-index:2;
}

.w3-button:hover {
    background-color:#02ccba;
    box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
}

.container{
  text-align: center;
  display:inline;
}
li{
display:inline;
margin:0 10px;
}
.logos{
  width:80px;
  height:100px;
  margin:0 40px;
  /*flex:left;*/
  /*text-align:center;*/
}
.skillImg{
  margin-top: 10px;
}

.works{
  display:flex;
  /*margin-left: auto;
  margin-right: auto;
*/  /*width:100%;*/
}
.row{
  display:flex;
  margin:0 100px 90px;
}
.fa{
  color: black;
}

#contact{
  color:#337ab7;
  background-color:#31708f;
  background: url('https://images.pexels.com/photos/850796/pexels-photo-850796.jpeg?h=350&auto=compress&cs=tinysrgb') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.overlay{
    text-align:center;
    background-color:white;
    width: 250px;
    box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
    /*letter-spacing: 0;*/
    font-size: .875rem;
    /*height: 2.25rem;*/
    font-weight: 400;
    margin-left: 2.5rem;
    margin-top: .5rem;
    /*line-height: 1.9375rem;*/
    cursor: pointer;
    border-radius: .25rem;
    transition: all .3s ease;

}

.overlay:hover {
  background-color:#9e9e9e21;
  box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
}
#skills{
  text-align:center;
  letter-spacing:5px;


}
.contact-info{
  letter-spacing:10px;

}
#projects{
  text-align:center;
  letter-spacing:5px;
}
.social-icons{
  margin:0 100px 0 65px;
}
.contact-name{
font-family: 'Fascinate Inline', cursive;
}
.cinfo{
font-family: 'Fascinate Inline', cursive;

}
.w3-text-black{
  color:red;
}
.w3-text-white {
  font: bold 60px "Open Sans", sans-serif;
  margin-bottom: 15px;

}

.profileimg{
  font-family:'Lobster Two', cursive;
  color:red;
}

.img-responsive{
  width:38%;
  flex:left;
  padding: 62px;
  height: 500px;
}
.allabout{
  font-size:18px;
  width:55%;
  /*flex:left;*/
  padding-left:5%;
}
.imagebox{
  display:flex;
  margin: 72px auto;
  width:100%;

}
.w3-row-padding .w3-col {
    padding: 0 45px;
}
.hero {
  position: relative;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 80px;

}

/*.image {
*/  /*position: absolute;*/
  /*top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-size: cover;
  z-index: -1;
  background-color: #80a3db;
}*/
.hero h1 {
  font: bold 55px "Open Sans", sans-serif;
  margin-bottom: 40px;
}
.hero h3{
  font: normal 28px "Open Sans", sans-serif;
  margin-bottom: 30px;
}
.hero-content-area {
  opacity: 0;
  margin-top: 100px;
  animation: 2s slidefade 2s forwards;
}
@keyframes slidefade {
  100% {
    opacity: 1;
    margin: 0;
  }
}
.w3-xxlarge {
  opacity: 0;
  margin-top: 100px;
  animation: 2s slidefade 2s forwards;
}
@keyframes slidefade {
  100% {
    opacity: 1;
    margin: 0;
  }
}
@media only screen and (max-width: 500px) {
  .w3-row-padding {
    padding: 5%;
  }
}

@media only screen and (max-width: 500px) {
    .imagebox{
        display:block;
        width:100%;
        height:100%;
    }

    .profileimg{
      display:block;
      width:100%;

    }

    .allabout{
      display:block;
      width:100%;

    }
    .img-responsive{
      width:100%;
    }
}
@media only screen and (max-width: 500px) {
  .row{
    display: none;
margin:0 auto;
display: block;
width:50%;
  }
}
.typewriter h2 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto;
   /* Gives that scrolling effect as the typing happens */
   margin-bottom: 250px;
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
